<div class="container">
    <div class="fixed-action-btn">
        <button class="modal-trigger btn btn-large btn-floating" href="#newpostModal">
            <i class="material-icons">add</i>
        </button>
    </div>

    {{!-- Modal structure for new post --}}
    <div id="newpostModal" class="modal">
        <div class="container">
            <form action="" method="post" class="row">
                <div class="input-field col s12">
                    <textarea id="textarea1" name="blog" class="materialize-textarea" required></textarea>
                    <label for="textarea1">Textarea</label>
                    <button class="btn btn-large waves-effect waves-light green" type="submit" name="action">Post
                        <i class="material-icons right">send</i>
                    </button>
                    <span class="modal-action modal-close btn-large red right">cancel</span>
                </div>
            </form>
        </div>
    </div>
    <br><br>
    <div>
        <div class="row">
        {{#each blogs}}
            <div class="col s12 m5">
                <div class="card-panel teal hoverable waves-effect waves-light" href="">
                    <span class="white-text">{{this.blog}}</span>
                    <hr>
                    <span class="white-text">{{this.dateAdded}}</span>
                    <a href="/delete/{{this.id}}" class="white-text right">
                        <i class="material-icons">delete</i>
                    </a>
                </div>
            </div>
        {{/each}}
        </div>
    </div>

    <script>
        $(document).ready(function(){
            $('.modal').modal();
        });
    </script>
</div>