
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="stylesheets/main.css">

    <style media="screen">
        body {
            font-family: 'Dosis', sans-serif;
        }
    </style>
</head>

<!-- Navigation -->
<nav class="lighten-5" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">
            <i class="material-icons">code</i><i class="logo-name"></i><i class="white-text blinker">|</i>
        </a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>

        <ul id="nav-mobile" class="side-nav">
            <li>
                <a href="/">Home</a>
            </li>
            <li>
                <a href="#">Contact</a>
            </li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse">
            <i class="white-text text-darken-4 material-icons">menu</i>
        </a>
    </div>
</nav>

<body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    <script src="javascripts/main.js"></script>
    {{{body}}}
</body>

<footer class="page-footer white container">
    <div class="left black-text">
        &copy;
        <script>
            document.write(new Date().getFullYear());
        </script>
    </div>
</footer>
</html>
