
<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{{title}}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!--Import Google Icon Font-->
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.min.css">
    <link rel="stylesheet" href="main.css">

    <style media="screen">
        body {
            font-family: 'Dosis', sans-serif;
        }
    </style>
</head>

<!-- Navigation -->
<nav class="">
    <div class=" white-light">
        
    </div>

    <div class="">
    </div>
</nav>

<body>
    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
    {{{body}}}
</body>

<footer class="footer">
    <br>
    <div class="copyright left white-text">
        &copy;
        <script>
            document.write(new Date().getFullYear())
        </script>
        <div class="right">
            site By : caleArts &trade;
        </div>
    </div>
    <br>
</footer>
</html>