* {
    font-family: sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

@media(max-width: 1000px) {
    .blogs {
        height: 320px !important;
        display: block !important;
    }
}

.section {
    cursor: pointer !important;
}

.section:hover {
    background: linear-gradient(to right, white, rgba(2, 2, 2, 0.1), white);
}

.blogs {
    animation: 2s fadeIn;
    overflow: auto;
    overflow-x: hidden;
    height: 450px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1em;
}

@keyframes fadeIn {
    from {
        display: flex;
        opacity: 0;
    }
}

.card {
    background-color: blueviolet;
    background-size: cover;
    padding: 35px !important;
}

.card-action a .material-icons,
.delete {
    cursor: pointer;
}

.card-action a .material-icons:hover {
    color: rgba(255, 255, 255, 0.589);
}

.footer {
    position: absolute;
    right: 0;
    bottom: -50px;
    left: 0;
    padding: 1rem;
    text-align: center;
}

.fixed {
    position: fixed;
    width: 100%;
    z-index: 9999;
}

.main {
    margin-top: 80px;
}